body {background-color: #fc851c;}

  p {color: white;
      tex-align: center

  }
  h1 {color: white;text-allign: center }
  h2 {color: darkgreen;text-allign: center }
  h3 {color: blue;text-allign: center }
  h4 {color: #662b00;text-allign: center }

  div {background-color: #662b00;
      width: 500px;
      height:450px;
      margin: 10px;
      padding: 20px

  }
  </div>
